
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Codefellowship</title>
  <link
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
  >

</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Codefellows</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myprofile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>

    </div>
  </nav>
</header>

<main>

  <div class="jumbotron">
    <h1 class="display-4">Codefellowship</h1>
    <h2>Welcome, <span th:text="${principal}"></span>!</h2>
    <p class="lead">welcome to codefellowship, the best place to share coding ideas</p>
    <hr class="my-4">

    <p class="lead">
      <a class="btn btn-dark" href="/signup" role="button">Signup</a>
    </p>
  </div>

</main>

<footer>
  <p></p>
</footer>

</body>
</html>