<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    ></head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Codefellows</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myprofile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/following">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Feed</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<main>

    <h2>Feed</h2>

    <ul class="feed-list">
        <li th:each="post : ${posts}">
            <span th:text="${post.createdAt}"></span>
            <span th:text="${post.body}"></span>

            <a th:href="@{'/users/' + ${post.appUser.id}}">
                <span th:text="${post.appUser.firstname}"></span>
                <span th:text="${post.appUser.lastname}"></span>
            </a>
        </li>
    </ul>
</main>


</body>
</html>